# VS Code
/.vscode/*
!/.vscode/settings.json

# macOS
.DS_Store

# Python
__pycache__/

# env secrets
.env

# Wisp subconv
per_host/wisp/subconv/srv/*
!per_host/wisp/subconv/srv/.gitkeep
per_host/wisp/subconv/subconv.env

# Wisp mirror
per_host/wisp/mirror/srv/*
!per_host/wisp/mirror/srv/.gitkeep
per_host/wisp/mirror/mirror.env
